@model IEnumerable<ClassJournalProject.Models.Specialty>

@{
    ViewData["Title"] = "Specialties";
}

<h1>Specialties</h1>

<p>
    <a asp-action="CreateSpecialty">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-action="EditSpecialty" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="AddRemoveSubjects" asp-route-id="@item.Id">Edit subject list</a> |
            <a asp-action="SpecialtyInfo" asp-route-id="@item.Id">Detail info</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
